[MASTER]
ignore = .git,.venv,__pycache__,build,dist
disable =
  C0114, # missing-module-docstring
  C0115, # missing-class-docstring
  C0116, # missing-function-docstring
  C0103, # invalid-name
  R0902, # too-many-instance-attributes
  R0903, # too-few-public-methods
  R0913, # too-many-arguments
  R0914, # too-many-locals

[FORMAT]
max-line-length = 88

[TYPECHECK]
generated-members=numpy
